<!--Store this code in 'display.html' file inside the 'templates' folder-->

<html lang="en">
	<head>
		<title>display</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body background-color="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Student Details</h1>
				<ul>
					<li><a href="{{url_for('index')}}">Index</a></li>
					<li class="active"><a href="{{url_for('display')}}">Display</a></li>
                    <li ><a href="{{url_for('display_performance')}}">Display performance</a></li>
					<li><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Know Your Details </h2>					
				</div> </br>
				<div class="contentbar">
					<h1>Your Details</h1> </br>
					{% block content %}
						<div class="border">
							<table class="worddark"></br></br>
								<tr>
									<td>Username:</td>
									<td>{{ account['name'] }}</td>
								</tr>
								<tr>
									<td>Password:</td>
									<td>{{ account['password'] }}</td>
								</tr>
								<tr>
									<td>Email ID:</td>
									<td>{{ account['email'] }}</td>
								</tr>
								<tr>
									<td>Roll No:</td>
									<td>{{ account['roll_no'] }}</td>
								</tr>
							</table>
						</div>
					{% endblock %}										
				</div>
				
			</div>
		</div>
	</body>
</html>

